<IfVersion >= 2.3>
AuthType openid-connect
Require claim cern_roles:default-role
</IfVersion>

<IfVersion < 2.3>
SSLRequireSSL # The modules only work using HTTPS
AuthType shibboleth
ShibRequireSession On
ShibRequireAll On
ShibExportAssertion Off
Require valid-user
Require ADFS_GROUP "All CMS users" "cms-members"
</IfVersion>
