*.root
*/*
*.swo
*.pyc
*/*.pyc
*.swp
*.*.swp
*.*.bkp
!Gael*/
luca
!json
!*config/*
*config/*.swp
*config/volatile.ini
*/*.swo
!csv/*
csv/*.d
csv/*.pcm
csv/*.so
core.*
condor_*.sub
.DS_Store
!myutils/*
